# This workflow:
#   - audits dependencies
#   - builds the module ready for publishing
#   - runs tests
#   - verifies publishing is possible (dry run) for PRs
#   - publishes to GitHub package registry when PR merged

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node.js v${{ matrix.node-version }} env
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Audit prod modules
      run: npm audit --omit dev

    - name: Test
      run: npm it

    - name: Publish (dry run)
      if: ${{ github.event_name == 'pull_request' && matrix.node-version == '16.x' }}
      run: npm publish --dry-run
        # echo Checking version...
        # [ $(npm show `npm pkg get name | tr -d '"'` version) != $(npm pkg get version | tr -d '"') ]

    - name: Publish
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && matrix.node-version == '16.x' }}
      run: npm publish
